<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登录界面</title>
<link rel="stylesheet" href="css/login.css" type="text/css"></link>
</head>

<body>
	<div class="contain">
    	<div class="logintop">
        </div>
        
        <div class="loginbody">
        	<div class="logindiv">
            	<form class="loginform">
                	<ul>
                    	<li>
                        	<input type="text" class="loginuser" id="account" placeholder="请输入您的账号" />
                        </li>
                        <li>
                        	<input type="password" class="loginpwd" id="password" placeholder="请输入您的密码" />
                        </li>
                        <li>
                        	<input type="button" class="loginbtn" id="loginbtn" value="登录" />
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        
        <div class="loginbottom">
        	<br/>
        	CopyRight by <a href="https://github.com/wwLJL/Spring-Cloud" target="blank">wwLJL</a>
        </div>
    </div>
    <div id="content">
    </div>
    
<script charset="UTF-8" type="text/javascript" src="js/jquery.min.js"></script>
<script charset="UTF-8" type="text/javascript" src="js/login.js"></script>
</body>
</html>

